* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #5a5a5a;
}

img,
i {
  cursor: pointer;
}

button:hover {
  opacity: 0.4;
}

/* Navbar Start */
.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 0 0.2px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

/* Search Section Start */
.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 600px;
  border: 1.5px solid black;
  border-radius: 50px;
  font-size: medium;
}

.search-input {
  width: 80%;
  border: none;
  padding: 10px 15.5px;
  font-size: medium;
  border-radius: 50px;
  height: 100%;
}

.search-button {
  display: inline;
  width: 14%;
  margin: auto;
  border-radius: 50px;
  border: none;
  background-color: red;
  padding: 8px 14px;
}
/* Search Section End */

/* Profile Section Start */
.round {
  font-size: 18px;
  background-color: gray;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  color: white;
  width: 20px;
  height: 20px;
}

.profile {
  margin-right: 10px;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Profile Section End */

/* Navbar End */

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Main Section Start */
.main-section {
  width: 85%;
  display: flex;
}

.main-feature {
  width: 75%;
}

/* video  section start */
.video-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 85vh;
}
/* .video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */
.video-footer {
  display: flex;
  padding: 5px;
  gap: 10px;
}
/* video  section end */

/* suggested video section start */
.suggested-video {
  width: 25%;
  /* background-color: antiquewhite; */
  margin-left: 10px;
}

.scrollable-tabs-container {
  font-family: "Roboto", sans-serif;
  /* background: #000; */
  margin: auto;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.scrollable-tabs-container svg {
  width: 24px;
  height: 24px;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  pointer-events: auto;
}

.scrollable-tabs-container ul {
  display: flex;
  gap: 16px;
  padding: 12px 0;
  max-width: 100%;
  margin: 0;
  list-style: none;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.scrollable-tabs-container ul.dragging a {
  pointer-events: none;
}

.scrollable-tabs-container ul.dragging {
  scroll-behavior: auto;
}

.scrollable-tabs-container ul::-webkit-scrollbar {
  display: none;
}

.scrollable-tabs-container a {
  color: #fff;
  text-decoration: none;
  background: #8f8f8f;
  padding: 4px 24px;
  display: inline-block;
  border-radius: 4px;
  user-select: none;
  white-space: nowrap;
}

.scrollable-tabs-container a.active {
  color: #fff;
  background: #000;
}

.scrollable-tabs-container .right-arrow,
.scrollable-tabs-container .left-arrow {
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  display: none;
  align-items: center;
  padding: 0 10px;
  pointer-events: none;
}

.scrollable-tabs-container .right-arrow.active,
.scrollable-tabs-container .left-arrow.active {
  display: flex;
}

.scrollable-tabs-container .right-arrow {
  right: 0;
  background: linear-gradient(to left, #5a5a5a 50%, transparent);
  justify-content: flex-end;
}

.scrollable-tabs-container .left-arrow {
  /* background: linear-gradient(to right, #5a5a5a 50%, transparent); */
}

.scrollable-tabs-container svg:hover {
  background: #333;
}

.video-thumbnail-recommended{
  display: flex;
  margin-top: 12px;
  padding: 5px;
}
.video-thumbnail-recommended:hover{
  background-color: #5a5a5a42;
  /* opacity: 0.7; */
}

.video-thumbnail-description{
  margin-left: 5px;
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* suggested video section end */
/* Main Section End */
